.block { display:block; }
.left { float:left; }
.right { float:right; }
.book-title { font-style:italic; }
.no-break { white-space: nowrap; }

header {
	margin-top:100px;
	min-height:350px;
	background: url('/images/no4.png') no-repeat top left;
}

header h1 {margin-top:50px;}

#series ul {
	display:block;
	margin-left:0;
	background-color:#eee;
	-webkit-border-radius: 4px;
}

#series ul li {
	display:block;
	margin:1em 0;
	padding:.5em 1em;
}

article {
	display:block;
	margin:1em 0;
	padding:2em 1em 1em 1em;
	background-color:#eee;
	-webkit-border-radius: 4px;
}

article blockquote {
  margin:0 3em;
}

article .permalink {
	display:block;
	margin-top:10px;
	padding:5px 0 0 0;
	border-top:1px solid silver;
	text-align:right;
}

article .date {
	margin-top:10px;
}




#main > aside {
	margin:0 0 0 3em;
}

#main > aside h1 {
	font-family:"droid-sans-1","droid-sans-2";
	font-size:2em;
	line-height:1.3;
	margin-bottom:1em;
}





.report {display:block;}
.report_list .report {margin:1.5em; width:480px;}

.report_list .report header img {
	display:block;
	margin-top:6em;

	-webkit-box-shadow: 0 0 10px #222;
	-webkit-border-top-left-radius:     4px;
	-webkit-border-top-right-radius:    4px;
	-webkit-border-bottom-left-radius:  4px;
	-webkit-border-bottom-right-radius: 4px;

	-moz-box-shadow: 0 0 10px #222;
	-moz-border-top-left-radius:     4px;
	-moz-border-top-right-radius:    4px;
	-moz-border-bottom-left-radius:  4px;
	-moz-border-bottom-right-radius: 4px;
}

.report_list .report .synopsis {
	display:block;
	margin-top: 1em;
	font-size:13px;
	text-align:justify;
	-webkit-column-count:2; -webkit-column-gap:2em;
}

.report_list .report footer {
	display:block;
	margin:1em 0;
	text-align:right;
}
