@import url(reset.css);

body {
	font-size: 12px;
	font-family: Helvetica, Arial, "san-serif"; color:rgb(72,40,62);
	background-color:#fefefe;
	line-height: 1.5;
}

h1 {
	font-weight:normal;
	font-family:"droid-sans-1","droid-sans-2";
	font-size:2em;
	line-height:1.3;
	margin-bottom:1em;
}

a {
	color:rgb(95,101, 72);
	text-decoration: none;
}

a:hover {
	color:rgb(152,64,8);
}

b { 
	font-weight:normal; 
	background-color:#E1DCE6; 
	padding:0 1px; 
	-webkit-border-radius: 1px 2px;
}

code {
	background-color:#E1DCE6;
}

p {
  font-size:1em;
  margin: 1.5em 0;
}

.block { display:block; }
.left { float:left; }
.right { float:right; }
.book-title { font-style:italic; }
.no-break { white-space: nowrap; }

.single-container {
	display:block;
	background-color:#eee;
	-webkit-border-radius: 4px;
}

.single-container li {
	display:block;
	padding:none;
	background-color: none;
	-webkit-border-radius: none;
}

#main {
	display:block;
	clear:both;
	width:960px; 
	margin:10em auto;
}

#main > section {
	width:504px;
}

#main > header {
	background: url('/images/no4.png') no-repeat top left;
}

#main > header h1 {
	float:right;
	width:400px;
	margin:3em 0 5em 0;
}

#main > .callout {
	display:block;
	margin:1em 0;
	padding:.5em 1em;
	background-color:#eee;
	-webkit-border-radius: 4px;
}

#main > .callout .permalink {
	display:block;
	margin-top:10px;
	padding:5px 0 0 0;
	border-top:1px solid silver;
	text-align:right;
}

#main > .callout h1 {
	font-size:1.2em;
	margin:1em 0 .8em 0;
}

#main > .callout .date {
	float:right;
	margin-top:10px;
}

#main > aside {
	float:right;
	width:400px;
	margin:0 0 0 3em;
}

#main > aside h1 {
	font-family:"droid-sans-1","droid-sans-2";
	font-size:2em;
	line-height:1.3;
	margin-bottom:1em;
}

#main > aside div {
}

#main > aside div.left, #main > aside div.right {
	width:46%;
}

#main > aside div ul {
	display:block;
	margin-left:0;
	background-color:#eee;
}

#main > aside ul li, #main > aside .contact, #main > aside div .friends {
	display:block;
	margin:1em 0;
	padding:.5em 1em;
	-webkit-border-radius: 4px;
	background-color:#eee;
}

.report {display:block;}
.report_list .report {margin:1.5em; width:480px;}

.report_list .report header img {
	display:block;
	margin-top:6em;

	-webkit-box-shadow: 0 0 10px #222;
	-webkit-border-top-left-radius:     4px;
	-webkit-border-top-right-radius:    4px;
	-webkit-border-bottom-left-radius:  4px;
	-webkit-border-bottom-right-radius: 4px;

	-moz-box-shadow: 0 0 10px #222;
	-moz-border-top-left-radius:     4px;
	-moz-border-top-right-radius:    4px;
	-moz-border-bottom-left-radius:  4px;
	-moz-border-bottom-right-radius: 4px;
}

.report_list .report .synopsis {
	display:block;
	margin-top: 1em;
	font-size:13px;
	text-align:justify;
	-webkit-column-count:2; -webkit-column-gap:2em;
}

.report_list .report footer {
	display:block;
	margin:1em 0;
	text-align:right;
}