<!DOCTYPE html>
<html>
  <head>
    <title>Ren Provey</title>
		<link rel="stylesheet" href="/stylesheets/master.css" type="text/css">
		
		<script type="text/javascript" src="http://use.typekit.com/pmz3gdi.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
	<body class="<%= controller_name -%> <%= controller.action_name -%>">
		<section id="main">
			<aside>
				<h1>Hello, my name is <b>Ren Provey</b>.<br/> I am a user <b>designer</b><br/> and <b>technologist</b> interested in marrying architecture, design,<br/> and technology.</h1>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<ul>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
						<li>Ut enim ad minim veniam, quis nostrud exercitation.</li>
						<li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
					</ul>
				</div>
			</aside>
			{{ content }}
		</section>
		
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-433161-1");
		pageTracker._initData();
		pageTracker._trackPageview();
		</script>
	</body>
</html>


  

